/* Custom scrollbar styles */
.flex::-webkit-scrollbar {
  height: 4px; /* Adjust the height for horizontal scrollbar */
}

.flex::-webkit-scrollbar-thumb {
  background-color: #7a7878; /* Scroll bar color */
  border-radius: 10px; /* Rounded corners */
}

.flex::-webkit-scrollbar-track {
  background-color: #000b3b; /* Track background color */
  border-radius: 10px;
}
body {
  background-color: rgb(2 6 23);
}
/* tailwind must buttom to overide css file */
@tailwind base;
@tailwind components;
@tailwind utilities;
